@page "/"
@inject IMoviesRepository moviesRepository;

    <div>
        <h3>Intheaters</h3>
        <MoviesList Movies="InTheaters"/>
    </div>


    <div>
        <h3>Upcoming Releases</h3>
        <MoviesList Movies="UpcomingRelease" />
    </div>




@code{
    private List<Movie> InTheaters;
    private List<Movie> UpcomingRelease;

    protected async override Task OnInitializedAsync()
    {
        var response = await moviesRepository.GetIndexPageDTO();
        InTheaters = response.InTheaters;
        UpcomingRelease = response.UpcomingRelease;
    }


}